@import 'reset.css';
@import 'container.css';
@import 'timer.css';
@import 'button.css';
@import 'form.css';
@import 'checkbox.css';
@import 'modal.css';

.box-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .box-main {
    gap: 40px;
  }
}

.link-logo {
  display: block;
  width: 100px;
  height: 30px;
}

.list-info {
  color: #0f7c41;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 1440px) {
  .list-info {
    flex-direction: row;
    gap: 30px;
  }
}

.list-info-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

@media only screen and (min-width: 768px) {
  .list-info-item {
    font-size: 16px;
    line-height: 150%;
  }
}

.list-info-span {
  padding: 4px 8px;
  border: #0f7c41 dashed 1px;
}

@media only screen and (min-width: 768px) {
  .list-info-span {
    padding: 6px 16px;
  }
}

.data-span {
  font-weight: 700;
}

.title-main {
  font-weight: 700;
  font-size: 32px;
  width: 240px;
  line-height: 125%;
}

@media only screen and (min-width: 768px) {
  .title-main {
    width: 280px;
    font-size: 36px;
  }
}

@media only screen and (min-width: 1440px) {
  .title-main {
    width: 624px;
    font-size: 56px;
  }
}

.text-info {
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .text-info {
    width: 315px;
  }
}

@media only screen and (min-width: 1440px) {
  .text-info {
    font-size: 20px;
    width: 554px;
  }
}

.box-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  padding: 32px 20px;
  width: 320px;
  height: 242px;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .box-info {
    display: none;
  }
}

.title-info {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

.box-timer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.link-privacy {
  color: #3577f7;
}
